---
layout: base
title:  '37 Jobs '
---
{% include header.html %}
<div class="content">
<section class="">
	<div class="container">
		<div class="row p-b-10">
			<div class="col-md-12">
					<h3>Elegantly simple Job board</h3>
				</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="panel panel-default">
					<div class="panel-body p-20">
						<form class="form-inline">
							<div class="form-group">
								<label class="sr-only" for="exampleInputEmail3"></label>
								<input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
							</div>
							<div class="form-group">
								<label class="sr-only" for="exampleInputPassword3"></label>
								<input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox"> Full Time
								</label>
							</div>
							<button type="submit" class="btn btn-default">Search</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</div>
{% include footer.html %}
{% include javascript.html %}
</body>
</html>
