// add bootstrap variable settings here
@import 'bootstrap';
@import 'bootswatch';
@import 'bootstrap-tokenfield';
@import 'tokenfield-typeahead';
@import 'utility-classes';
body {
  font-size: 14px;
}
.navbar-toggle .icon-bar {
  background-color:#2196F3;
}

@media (max-width: 778px) {
  .nav.navbar-nav.pull-right {
    float: none !important;
  }
}
.job-details-hero {
  height: 120px;
  background-color: #F1F1F1;
}
.label-tag {
  background-color: #E4E1E1;
  color: #666;
  font-weight: normal;
  font-size: 100%;
  text-transform: capitalize;
}
.tokenfield {
  padding: 0;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: inset 0 -1px 0 #ddd;
  box-shadow: inset 0 -1px 0 #ddd;
  white-space:nowrap;
}
.tokenfield.focus {
  border-color: none;
  -webkit-appearance: none;
  -webkit-box-shadow: inset 0 -1px 0 #ddd;
  box-shadow: inset 0 -2px 0 #2196F3;
}
.tokenfield .token .close {
  vertical-align: initial;
}
.tokenfield .token:hover {
    border-color: transparent;
}
.tokenfield .token {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: .25em;
  -moz-border-radius: .25em;
  border-radius: .25em;
  display: inline-block;
  border: 1px solid #ededed;
  background-color: #ededed;
  white-space: nowrap;
  margin: -1px 5px 5px 0;
  height: 22px;
  vertical-align: top;
  cursor: default;
}

.job-details-hero:first-of-type + .container {
  margin-top: -70px;
}
//custom styles
.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
}
.navbar-brand {
  color: #444;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

i.icon-lg.mdi::before {
    font-size: 30px;
    line-height: 14px;
}
.jobs-list .list-group-item {
  padding: 5px 10px;
}

.panel-white .panel-heading {
    border-bottom: 1px solid #eee;
}
.job-list-img {
    width:68px;
}
.job-details-img {
    width:140px;
}
.job-type {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding: 3px 10px;
  border-radius: 4px;
}
.job-type.full_time {
  background-color: $btn-success-bg;
}
.job-type.part_time {
  background-color: $btn-warning-bg;
}
.job-type.contract {
  background-color: $btn-primary-bg;
}
.job-type.internship {
  background-color: $btn-info-bg;
}
/* --- material floating label --- */
.floating-label.form-group {
    display: flex;
    height: 55px;
}

.floating-label .control-label {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.4;
    pointer-events: none;
    position: absolute;
    transform: translate3d(0, 22px, 0) scale(1);
    transform-origin: left top;
    transition: 240ms;
}

.floating-label.form-group.focused .control-label {
    opacity: 1;
    transform: scale(0.75);
}

.floating-label .form-control {
    align-self: flex-end;
}

.floating-label .form-control::-webkit-input-placeholder {
    color: transparent;
    transition: 240ms;
}

.floating-label .form-control:focus::-webkit-input-placeholder {
    transition: none;
}

.floating-label .form-group.focused .form-control::-webkit-input-placeholder {
    color: #bbb;
}

.floating-label.form-group.textarea-group {
  height: auto;
  min-height:110px;
}
