{% extends 'base.html' %}
{% block content %}
{% include 'header.html' %}
<div class="container m-t-20">
    <h2>Search</h2>

    <form method="get" action=".">
        <table>
            {{ form }}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Search" class="btn btn-primary">
                </td>
            </tr>
        </table>

        {% if query %}
            <h3>Results</h3>
            <ul class="list-group jobs-list">
            {% for result in page.object_list %}
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-md-9 col-sm-9 col-xs-8">
                      <img class="img-responsive img-rounded pull-left m-r-10 job-list-img" src="{{ result.object.job_company.company_logo.url }}">
                      <h5>
                        <a href="/jobs/{{ result.object.id }}/">{{ result.object.job_title }}</a><br>
                        <small><a href="/companies/{{ result.object.job_company.company_slug }}" class="text-muted">{{ result.object.job_company }}</a> - {{ result.object.job_location }}</small>
                      </h5>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-4">
                      <ul class="list-unstyled text-center m-t-10">
                        <li><a href="/jobs/{{ result.object.id }}/"><span class="job-type {{ result.object.job_type }}">{{ result.object.get_job_type_display }}</span></a></li>
                        <li><small class="timeago" title="{{ result.object.job_created_date|date:"c" }}">{{ result.object.job_created_date }}</small></li>
                      </ul>
                    </div>
                  </div>
                </li>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}
            </ul>
            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
</div>
{% include 'footer.html' %}
{% include 'javascript.html' %}
</body>
{% endblock %}
