{% extends 'base.html' %}
{% block content %}
{% include 'header.html' %}
<div class="container m-t-20">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default p-30">
        <div class="panel-header">
          <h4>Post a New Job</h4>
        </div>
        <div class="panel-body">
          {% for message in messages %}
            {% if message.level == 40 %}
              <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endif %}
          {% endfor %}
          <form action="." method="post" id="JobAddForm" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group">
              <label for="" class="col-sm-2 control-label">Company</label>
              <div class="col-md-9 col-sm-10">
                <input type="text" class="form-control" placeholder="{{ current_user_profile.company }}" disabled>
              </div>
            </div>
            <div class="form-group {% if form.job_title.errors %}has-error{% endif %}">
              <label for="" class="col-sm-2 control-label">Job Title</label>
              <div class="col-md-9 col-sm-10">
                {{ form.job_title }}
              </div>
            </div>
            <div class="form-group {% if form.job_location.errors %}has-error{% endif %}">
              <label for="" class="col-sm-2 control-label">Location</label>
              <div class="col-md-9 col-sm-10">
                {{ form.job_location }}
              </div>
            </div>
            <div class="form-group">
              <label for="" class="col-sm-2 control-label {% if form.job_location.errors %}has-error{% endif %}">Tags</label>
              <div class="col-md-9 col-sm-10">
                {{ form.tags }}
                <span class="help-block"></span>
              </div>
            </div>
            <div class="form-group">
              <label for="" class="col-sm-2 control-label">Employment Type</label>
              <div class="col-md-9 col-sm-10">
                {{ form.job_type }}
              </div>
            </div>
            <div class="form-group {% if form.job_description.errors %}has-error{% endif %}">
              <label for="" class="col-sm-2 control-label">Description</label>
              <div class="col-md-9 col-sm-10">
                {{ form.job_description }}
                <span class="help-block">Use Markdown for custom formating.</span>
              </div>
            </div>
            <div class="form-group {% if form.job_responsibilities.errors %}has-error{% endif %}">
              <label for="" class="col-sm-2 control-label">Responsibilities</label>
              <div class="col-md-9 col-sm-10">
                {{ form.job_responsibilities }}
                <span class="help-block">Use Markdown for custom formating.</span>
              </div>
            </div>
            <div class="form-group {% if form.job_qualifications.errors %}has-error{% endif %}">
              <label for="" class="col-sm-2 control-label">Qualifications</label>
              <div class="col-md-9 col-sm-10">
                {{ form.job_qualifications }}
                <span class="help-block">Use Markdown for custom formating.</span>
              </div>
            </div>
            <div class="form-group">
              <label for="job_notes" class="col-sm-2 control-label">Notes</label>
              <div class="col-md-9 col-sm-10">
                {{ form.job_notes }}
                <span class="help-block">Optional</span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-9 col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-block btn-primary">Post Job</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'footer.html' %}
{% include 'javascript.html' %}
</body>
{% endblock %}
