{% extends 'base.html' %}
{% block content %}
{% include 'header.html' %}
<div class="container m-t-20">
  <div  class="row">
    <div  class="col-md-12">
      <div class="well">
        <form class="form-group" style="min-height:50px;"  method="get" action="{% url 'search' %}">
          <div class="col-md-10">
            <label><strong>Search Jobs</strong></label>
            {{ form.q }}
          </div>
          <div class="col-md-2">
            <label>&nbsp;</label><br>
            <button class="btn btn-primary">Search Jobs</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        {% if jobs_list %}
          <!-- List group -->
            <ul class="list-group jobs-list">
            {% spaceless %}
            {% for job in jobs_list %}
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-md-9 col-sm-9 col-xs-8">
                      <img class="img-responsive pull-left m-r-10 job-list-img" src="{{ job.job_company.company_logo_thumb.url }}">
                      <h5>
                        <a href="/jobs/{{ job.id }}/">{{ job.job_title }}</a><br>
                        <small><a href="/companies/{{ job.job_company.company_slug }}" class="text-muted">{{ job.job_company }}</a> - {{ job.job_location }}</small>
                      </h5>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-4">
                      <ul class="list-unstyled text-center m-t-10">
                        <li><a href="/jobs/{{ job.id }}/"><span class="job-type {{ job.job_type }}">{{ job.get_job_type_display }}</span></a></li>
                        <li><small class="timeago" title="{{ job.job_created_date|date:"c" }}">{{ job.job_created_date }}</small></li>
                      </ul>
                    </div>
                  </div>
                </li>
            {% endfor %}
            {% endspaceless %}
            </ul>
        {% else %}
            <p class="lead">No jobs are available.</p>
        {% endif %}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <nav>
            <ul class="pager">
              {% if jobs_list.paginator.num_pages > 1 %}
              <span class="current">
                  Page {{ jobs_list.number }} of {{ jobs_list.paginator.num_pages }}.
              </span>
              {% endif %}
              {% if jobs_list.has_previous %}
              <li class="previous">
                  <a href="?page={{ jobs_list.previous_page_number }}">Previous</a>
              </li>
              {% endif %}
              {% if jobs_list.has_next %}
                <li class="next">
                  <a href="?page={{ jobs_list.next_page_number }}">Next</a>
                </li>
              {% endif %}
            </ul>
          </nav>
      </div>
    </div>
  </div>
{% include 'footer.html' %}
{% include 'javascript.html' %}
</body>
{% endblock %}
