{% extends 'base.html' %}
{% block content %}
{% include 'header.html' %}
<div class="container m-t-20">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default p-30">
          <div class="panel-header">
            <h4>Change Password</h4>
          </div>
          <div class="panel-body">
            {% for message in messages %}
              {% if message.level == 40 %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
              {% endif %}
              {% if message.level == 25 %}
                <div class="alert alert-success" role="alert">{{ message }}</div>
              {% endif %}
            {% endfor %}
            <form action="." method="post" id="PasswordChangeForm" enctype="multipart/form-data" class="form-horizontal">
              {% csrf_token %}
              <div class="form-group {% if form.company_url.errors %}has-error{% endif %}">
                <label for="" class="col-sm-3 control-label">Old Password</label>
                <div class="col-md-9 col-sm-10">
                  {{ form.old_password }}
                </div>
              </div>
              <div class="form-group {% if form.company_url.errors %}has-error{% endif %}">
                <label for="" class="col-sm-3 control-label">New Password</label>
                <div class="col-md-9 col-sm-10">
                  {{ form.new_password }}
                </div>
              </div>
              <div class="form-group {% if form.company_url.errors %}has-error{% endif %}">
                <label for="" class="col-sm-3 control-label">Confirm Password</label>
                <div class="col-md-9 col-sm-10">
                  {{ form.new_password2 }}
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-9 col-sm-offset-3 col-sm-10">
                  <button type="submit" class="btn btn-block btn-primary">Update Password</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'footer.html' %}
{% include 'javascript.html' %}
</body>
{% endblock %}
