{% load staticfiles %}
<footer class="footer">
  <div class="container">
  <hr>
    <div class="row m-t-50 m-b-50">
      <div class="col-md-4">
        <ul class="horizontal list-unstyled m-t-10">
            <li><a href="/join/">Sign Up</a></li>
            <li><a href="mailto:jobs@hiretech.io">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-4 text-center">
        <img style="max-height:30px;" src="{% static 'images/hiretech-logo.png' %}" />
      </div>
      <div class="col-md-4">
        <ul class="horizontal list-unstyled m-t-10 pull-right">
            <li><a href="/privacy-policy">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
