{% load staticfiles %}
{% load gravatar %}
<nav class="navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img style="max-height:30px;" src="{% static 'images/hiretech-logo.png' %}" /></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      {% if user.is_authenticated %}
      <ul class="nav navbar-nav navbar-right user-settings">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img class="pull-right img-circle m-l-10 avatar" src="{% gravatar_url user.email 90 %}">
              {{ user.first_name }} {{ user.last_name }}
            </a>
              <ul class="dropdown-menu pull-right">
                  <li><a href="/users/settings/"> Settings</a></li>
                  <li><a href="/users/update-password/"> Update Password</a></li>
                  <li class="divider"></li>
                  <li><a href="/logout/">Logout</a></li>
              </ul>
          </li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li><a href="/jobs/">All Jobs</a></li>
        <li><a href="/how-it-works/">How it Works</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
      </ul>
      {% else %}
      <a href="/join" class="btn btn-sm btn-success pull-right m-t-20">Post a Job</a>
      <a href="/login" class="btn btn-sm btn-default pull-right m-t-20 m-r-20">Log in</a>
      <ul class="nav navbar-nav pull-right m-r-20">
        <li><a href="/jobs/">All Jobs</a></li>
        <li><a href="/how-it-works/">How it Works</a></li>
        <li><a href="/blog/">Blog</a></li>
      </ul>
      {% endif %}
    </div><!--/.nav-collapse -->
  </div>
</nav>
