{% extends 'base.html' %}
{% block title %}Software Engineering Jobs, Technology, Tech Positions - HireTech{% endblock %}
{% block content %}
{% include 'header.html' %}
<div class="container">
  <div  class="row m-t-60">
    <div class="col-md-8 col-md-offset-2 text-center">
      <h3>Connecting <strong>Tech People</strong> with <strong>Tech Jobs</strong></h3>
    </div>
  </div>
  <div class="row m-t-40 m-b-40">
    <div class="col-md-8 col-md-offset-2">
      <div class="well">
        <form class="form-group" style="min-height:120px;" method="get" action="{% url 'search' %}">
          <div class="col-md-12">
            <label><strong>Search Jobs</strong></label>
            {{ form.q }}
          </div>
          <div class="col-md-12">
            <label>&nbsp;</label><br>
            <button class="btn btn-primary btn-block">Search Jobs</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row  m-t-20">
    <div class="col-md-8 col-md-offset-2">
      <h4 class="text-center">Recent Jobs</h4>
      <div class="panel panel-default">
        {% if recent_five_jobs_list %}
          <!-- List group -->
            <ul class="list-group jobs-list">
            {% spaceless %}
            {% for job in recent_five_jobs_list %}
                <li class="list-group-item">
                  <div class="row">
                    <div class="col-md-9 col-sm-9 col-xs-8">
                      <img class="img-responsive pull-left m-r-10 job-list-img hidden-xs" src="{{ job.job_company.company_logo_thumb.url }}">
                      <h5>
                        <a href="/jobs/{{ job.id }}/">{{ job.job_title }}</a><br>
                        <small><a href="/companies/{{ job.job_company.company_slug }}" class="text-muted">{{ job.job_company }}</a> - {{ job.job_location }}</small>
                      </h5>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-4">
                      <ul class="list-unstyled text-center m-t-10">
                        <li><a href="/jobs/{{ job.id }}/"><span class="job-type {{ job.job_type }}">{{ job.get_job_type_display }}</span></a></li>
                        <li><small class="timeago" title="{{ job.job_created_date|date:"c" }}">{{ job.job_created_date }}</small></li>
                      </ul>
                    </div>
                  </div>
                </li>
            {% endfor %}
            {% endspaceless %}
            </ul>
        {% else %}
            <p class="lead">No jobs are available.</p>
        {% endif %}
        </div>
        <div class="text-center">
          <a class="btn btn-primary" href="/jobs">View All Jobs</a>
        </div>
      </div>
    </div>
    <div class="row m-t-40">
      <div class="col-md-12">
        <h4 class="text-center">Latest From Our Blog</h4>
      </div>
    </div>
    <div class="row">
      {% if recent_post_list %}
        {% for post in recent_post_list %}
          <div class="col-md-4">
            <div class="panel post post-feed">
              <a href="/blog/{{ post.slug }}">
              <div class="panel-heading" {% spaceless %}
                  style="background-image: url('{{ post.featured_image_thumbnail.url }}');"
                {% endspaceless %}>
              </div>
              </a>
              <div class="panel-body">
                <h5>{{ post.title }}</h5>
                {{ post.body|truncatechars:80 }}
              </div>
              <div class="panel-footer">
                <a href="/blog/{{ post.slug }}">
                  <p>Continue Reading <i class="mdi mdi-trending-neutral pull-right m-t-10"></i></p>
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p class="lead">No posts are available.</p>
      {% endif %}
    </div>
    <div class=""></div>

</div>
{% include 'footer.html' %}
{% include 'javascript.html' %}
</body>
{% endblock %}
