{% load static %}
<script src="{% static 'javascript/jquery-1.11.3.min.js' %}"></script>
<script src="{% static 'javascript/bootstrap.min.js' %}"></script>
<script src="{% static 'javascript/bootstrap-tokenfield.min.js' %}"></script>
<script src="{% static 'javascript/timeago.js' %}"></script>
<script src="{% static 'javascript/main.js' %}"></script>
{% if production %}
<script>
var _prum = [['id', '56080577abe53de75353c74e'],['mark', 'firstbyte', (new Date()).getTime()]];
(function() {
    var s = document.getElementsByTagName('script')[0]
      , p = document.createElement('script');
    p.async = 'async';
    p.src = '//rum-static.pingdom.net/prum.min.js';
    s.parentNode.insertBefore(p, s);
})();
</script>
{% endif %}
