{% extends 'base.html' %}
{% block content %}
{% include 'header.html' %}
<div class="container m-t-20">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default p-30">
        <div class="panel-header">
          <h4>Post a New Job for {{ company.company_name }}</h4>
        </div>
        <div class="panel-body">
          {% for message in messages %}
            {% if message.level == 40 %}
              <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endif %}
          {% endfor %}
          <form action="." method="post" id="JobAddForm" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group {% if form.job_title.errors %}has-error{% endif %}">
              <label for="" class="col-sm-2 control-label">Job Title</label>
              <div class="col-md-9 col-sm-10">
                {{ form.job_title }}
              </div>
            </div>
            <div class="form-group {% if form.job_location.errors %}has-error{% endif %}">
              <label for="" class="col-sm-2 control-label">Location</label>
              <div class="col-md-9 col-sm-10">
                {{ form.job_location }}
              </div>
            </div>
            <div class="form-group">
              <label for="" class="col-sm-2 control-label {% if form.job_location.errors %}has-error{% endif %}">Tags</label>
              <div class="col-md-9 col-sm-10">
                {{ form.tags }}
                <span class="help-block"></span>
              </div>
            </div>
            <div class="form-group">
              <label for="" class="col-sm-2 control-label">Employment Type</label>
              <div class="col-md-9 col-sm-10">
                {{ form.job_type }}
              </div>
            </div>
            <div class="form-group {% if form.job_description.errors %}has-error{% endif %}">
              <label for="" class="col-sm-2 control-label">Description</label>
              <div class="col-md-9 col-sm-10">
                {{ form.job_description }}
                <span class="help-block">Use Markdown for custom formating.</span>
              </div>
            </div>
            <div class="form-group {% if form.job_responsibilities.errors %}has-error{% endif %}">
              <label for="" class="col-sm-2 control-label">Responsibilities</label>
              <div class="col-md-9 col-sm-10">
                {{ form.job_responsibilities }}
                <span class="help-block">Use Markdown for custom formating.</span>
              </div>
            </div>
            <div class="form-group {% if form.job_qualifications.errors %}has-error{% endif %}">
              <label for="" class="col-sm-2 control-label">Qualifications</label>
              <div class="col-md-9 col-sm-10">
                {{ form.job_qualifications }}
                <span class="help-block">Use Markdown for custom formating.</span>
              </div>
            </div>
            <div class="form-group">
              <label for="job_notes" class="col-sm-2 control-label">Notes</label>
              <div class="col-md-9 col-sm-10">
                {{ form.job_notes }}
                <span class="help-block">Optional</span>
              </div>
            </div>
            <div class="form-group">
              <label for="" class="col-sm-2 control-label">Apply Method</label>
              <div class="col-md-9 col-sm-10">
                {{ form.job_apply_method }}
                <span class="help-block">How would you like applicants to apply?</span>
              </div>
            </div>
            <div class="form-group {% if form.job_apply_link.errors %}has-error{% endif %}">
              <label for="" class="col-sm-2 control-label apply-option link">Apply Link</label>
              <label for="" class="col-sm-2 control-label apply-option email" style="display:none;">Apply Email</label>
              <div class="col-md-9 col-sm-10">
                {{ form.job_apply_link }}
                <span class="help-block apply-option link">Link to your application page.</span>
                <span class="help-block apply-option email" style="display:none;">Email where applications should be sent to.</span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-9 col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-block btn-primary">Post Job</button>
                <span class="help-block">Your job will be automatically published and stay active for the
                  next 60 Days or you mark it as filled from your account dashboard.</span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'footer.html' %}
{% include 'javascript.html' %}
<script>
jQuery(document).ready(function() {
  var $select = $('.apply-select'),
      $option =  $('.apply-option');

  $select.on('change', function() {
    var value = '.' + $(this).val();
    $option.show().not(value).hide();
  });
});
</script>
</body>
{% endblock %}
