{% extends 'base.html' %}
{% block content %}
{% include 'header.html' %}
{% load markdown_deux_tags %}
{% load gravatar %}
<div class="container m-t-20">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
        {% if post_list %}
          <!-- List group -->
            {% spaceless %}
            {% for post in post_list %}
                  <div class="row">
                    <div class="col-md-12">
                    <article class="post">
                      <div class="panel m-t-20">
                        <a href="/blog/{{ post.slug }}">
                          <div class="panel-heading" {% spaceless %}
                              style="background-image: url('{{ post.featured_image_thumbnail.url }}');"
                            {% endspaceless %}>
                            <div class="row post-image-filter">
                              <div class="col-md-12">
                                <h2 class="post-title">{{ post.title }}</h2>
                              </div>
                            </div>
                          </div>
                        </a>
                      <div class="post-meta">
                        <div class="p-20">
                          <div class="row">
                            <div class="col-md-12">
                                <span class="author"><img class="img-circle m-l-10" src="{% gravatar_url post.author 30 %}"> {{ post.author.first_name }} {{ post.author.last_name }}</span>
                                on <time>{{ post.published_date }}</time>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="panel-body p-l-30 p-r-30">
                        {{ post.body|truncatechars:200 }}
                      </div>
                      <div class="panel-footer">
                        <div class="row">
                          <div class="col-md-12 p-t-10 p-l-30 p-r-30">
                            <a href="/blog/{{ post.slug }}">
                            <p>Continue Reading <i class="mdi mdi-trending-neutral pull-right m-t-15"></i></p>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    </article>
                    </div>
                  </div>
            {% endfor %}
            {% endspaceless %}
        {% else %}
          <div class="well text-center">
            <p class="lead">No posts yet, check back soon.</p>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
          <nav>
            <ul class="pager">
              {% if post_list.paginator.num_pages > 1 %}
              <span class="current">
                  Page {{ post_list.number }} of {{ post_list.paginator.num_pages }}
              </span>
              {% endif %}
              {% if post_list.has_previous %}
              <li class="previous">
                  <a href="?page={{ post_list.previous_page_number }}">Previous</a>
              </li>
              {% endif %}
              {% if post_list.has_next %}
                <li class="next">
                  <a href="?page={{ post_list.next_page_number }}">Next</a>
                </li>
              {% endif %}
            </ul>
          </nav>
      </div>
    </div>
</div>
{% include 'footer.html' %}
{% include 'javascript.html' %}
</body>
{% endblock %}
