{% extends 'base.html' %}
{% block content %}
{% include 'header.html' %}
{% load gravatar %}
<div class="container m-t-20">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default p-30">
        <div class="panel-header">
          <h4>Edit User Settings</h4>
        </div>
        <div class="panel-body">
          {% for message in messages %}
            {% if message.level == 40 %}
              <div class="alert alert-danger" role="alert">{{ message }}</div>
            {% endif %}
            {% if message.level == 25 %}
              <div class="alert alert-success" role="alert">{{ message }}</div>
            {% endif %}
          {% endfor %}
          <form action="." method="post" id="UserEditForm" enctype="multipart/form-data" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group {% if form.first_name.errors %}has-error{% endif %}">
              <label for="" class="col-sm-2 control-label">Name</label>
              <div class="col-md-5 col-sm-10">
                <label class="control-label" for="first_name">First Name</label>
                {{ form.first_name }}
              </div>
              <div class="col-md-5 col-sm-10">
                <label class="control-label" for="first_name">Last Name</label>
                {{ form.last_name }}
              </div>
            </div>
            <div class="form-group {% if form.company_url.errors %}has-error{% endif %}">
              <label for="" class="col-sm-2 control-label">Email</label>
              <div class="col-md-10 col-sm-10">
                {{ form.email }}
              </div>
            </div>
            <!--<div class="form-group">
              <label for="" class="col-sm-2 control-label">User Photo</label>
              <div class="col-md-3 col-sm-3">
                {% if current_user.avatar %}
                  <img class="img-thumbnail avatar" src="{{ current_user.avatar.url }}">
                {% else %}
                  <img class="img-thumbnail avatar" src="{% gravatar_url user.email 140 %}">
                {% endif %}
              </div>
              <div class="col-md-7 col-sm-7">
                <label class="control-label" for="avatar">Upload Photo</label><br/>
                {{ form.avatar }}
              </div>
            </div>-->
            <div class="form-group m-b-20">
              <label for="" class="col-sm-2 control-label">User Photo</label>
              <div class="col-md-10">
                <a class="btn btn-default" href="https://gravatar.com" target="_blank">Update Avatar on Gravatar</a>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-10 col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-block btn-primary">Update User Settings</button>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-10 col-sm-offset-2 col-sm-10">
                <a href="/users/update-password/">Looking to update your password?</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'footer.html' %}
{% include 'javascript.html' %}
</body>
{% endblock %}
