// add bootstrap variable settings here
@import 'bootstrap';
@import 'bootswatch';
@import 'utility-classes';
@media (max-width: 778px) {
  .nav.navbar-nav.pull-right {
    float: none !important;
  }
}
//custom styles
.navbar {
    border-radius: 0px;
}
.navbar-brand {
  color: #000;
  font-weight: bold;
}
i.icon-lg.mdi::before {
    font-size: 30px;
    line-height: 14px;
}
.jobs-list .list-group-item {
  padding: 5px 10px;
}

.panel-white .panel-heading {
    border-bottom: 1px solid #eee;
}
.job-list-img {
    width:65px;
}
.job-details-img {
    width:108px;
}
.job-type {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding: 3px 10px;
  border-radius: 4px;
}
.job-type.full_time {
  background-color: $btn-success-bg;
}
.job-type.part_time {
  background-color: $btn-warning-bg;
}
.job-type.contract {
  background-color: $btn-primary-bg;
}
.job-type.internship {
  background-color: $btn-info-bg;
}
