{% load staticfiles %}{% load compress %}<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
<link rel="icon" type="image/png" href="/images/favicon/favicon.ico">
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes"/>
<title>{% block title %}GitJobs{% endblock %}</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link href="//cdn.materialdesignicons.com/1.2.65/css/materialdesignicons.min.css" rel="stylesheet">
{% compress css %}
<link rel="stylesheet" type="text/x-scss" href="{% static "style.scss" %}">
{% endcompress %}
</head>
<body>
{% block content %}{% endblock %}
