<nav class="navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">GitJobs</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <a href="/join" class="btn btn-sm btn-primary pull-right m-t-20">Join</a>
      <a href="/login" class="btn btn-sm btn-default pull-right m-t-20 m-r-20">Login</a>
      <ul class="nav navbar-nav pull-right">
        <li><a href="/jobs/">All Jobs</a></li>
        <li><a href="#about">For Employers</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
