{% extends 'base.html' %}
{% block content %}
{% include 'header.html' %}
<div class="container">
  <div class="row m-t-60 m-b-60">
    <div class="col-md-8 col-md-offset-2">
      <div class="well">
        <form class="form-group" style="min-height:50px;">
          <div class="col-md-6">
            <label><strong>Job Description</strong></label>
            <input type="text" placeholder="Filter by title, benefits, companies" class="form-control">
          </div>
          <div class="col-md-6">
            <label><strong>Job Location</strong></label>
            <input type="text" placeholder="Filter by city, state or country" class="form-control">
          </div>

          <div class="col-md-12">
            <label>&nbsp;</label><br>
            <button class="btn btn-primary btn-block">Search Jobs</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% include 'footer.html' %}
{% include 'javascript.html' %}
</body>
{% endblock %}
