{% extends 'base.html' %}
{% block content %}
{% include 'header.html' %}
{% load markdown_deux_tags %}
<div itemscope itemtype="http://schema.org/JobPosting">
  <div class="row job-details-hero">
    <div class="col-md-12">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <a href="/companies/{{ job.job_company.id }}/">
        <img class="img-thumbnail job-details-img" src="{{ job.job_company.company_logo.url }}">
      </a>
      <h3 itemprop="title">{{ job.job_title }}</h3>
      <p><span class="job-type {{ job.job_type }}" itemprop="employmentType">{{ job.get_job_type_display }}</span>   <i class="fa fa-map-marker"></i> {{ job.job_location }}</p>
    </div>
  </div>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="">
          <div itemprop="description">
            <h5>Job Description</h5>
            {{ job.job_description|markdown }}
          </div>
        </div>
        <div itemprop="responsibilities">
          <h5>Key Responsibilities</h5>
          {{ job.job_responsibilities|markdown }}
        </div>
        <div itemprop="qualifications">
          <h5>Minimum Qualifications</h5>
          {{ job.job_qualifications|markdown }}
        </div>
      </div>
      <div class="col-md-3">
        <div class="">
          <div class="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'footer.html' %}
{% include 'javascript.html' %}
</body>
{% endblock %}
