{% extends 'base.html' %}
{% block content %}
{% include 'header.html' %}
<div class="container m-t-20">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel p-30">
      <div class="panel-body">
      <h4 class="">Password Reset</h4>
      <p>In the wrong place? Go back to <a href="/login/">Log in.</a></p>
        {% for message in messages %}
          {% if message.level == 40 %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
          {% endif %}
          {% if message.level == 25 %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
          {% endif %}
        {% endfor %}
        <div class="alert alert-success">
            <p>Create your new password below.</p>
        </div>
        <form action="." method="post" id="loginForm">
          {% csrf_token %}
          <div class="form-group floating-label {% if form.password.errors %}has-error{% endif %}">
          <label class="control-label" for="password">New Password</label><br/>
            {{ form.new_password }}
          </div>
          <div class="form-group floating-label {% if form.password.errors %}has-error{% endif %}">
          <label class="control-label" for="password">Confirm New Password</label><br/>
            {{ form.new_password2 }}
          </div>
            <button type="submit" class="btn btn-primary btn-block">Get New Password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'footer.html' %}
{% include 'javascript.html' %}
</body>
{% endblock %}
