{% extends 'base.html' %}
{% block content %}
{% include 'header.html' %}
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel p-30">
      <div class="panel-body">
      <h4 class="">Get started.</h4>
      {% for message in messages %}
          {% if message.level == 40 %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
          {% endif %}
        {% endfor %}
        <form action="." method="post" enctype="multipart/form-data" id="subForm">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-6">
                <div class="form-group floating-label {% if form.first_name.errors %}has-error{% endif %}">
                    <label class="control-label" for="first_name">First Name</label>
                    {{ form.first_name }}
                </div>
            </div>
            <div class="col-md-6">
              <div class="form-group floating-label {% if form.last_name.errors %}has-error{% endif %}">
              <label class="control-label" for="last_name">Last Name</label><br/>
              {{ form.last_name }}
              </div>
            </div>
          </div>
          <div class="form-group floating-label {% if form.email.errors %}has-error{% endif %}">
            <label class="control-label" for="email">Email</label><br/>
            {{ form.email }}
          </div>
          <div class="form-group floating-label {% if form.password.errors %}has-error{% endif %}">
          <label class="control-label" for="password">Password</label><br/>
          {{ form.password }}
          </div>
          <div class="form-group floating-label {% if form.company_name.errors %}has-error{% endif %}">
            <label class="control-label" for="company_name">Company Name</label><br/>
            {{ form.company_name }}
          </div>
          <div class="form-group floating-label {% if form.company_url.errors %}has-error{% endif %}">
            <label class="control-label" for="company_url">Company Website Url</label><br/>
            {{ form.company_url }}
          </div>
          <div class="form-group {% if form.company_logo.errors %}has-error{% endif %}">
            <label class="control-label" for="company_logo">Company Logo</label><br/>
            {{ form.company_logo }}
          </div>
            <button type="submit" class="btn btn-primary btn-block">Join</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'footer.html' %}
{% include 'javascript.html' %}
</body>
{% endblock %}
